@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');


/* pone un fondo negro a la imagen*/
.image-garden {
    display: flex;
    justify-content: center;
    background-color: black;
}

#audioGarden {
    display: none
}

.modal-garden {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
}

.modal-garden-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    text-align: center;
    font-family: "Amarante", serif;
}

/* Estilo opcional para el botón dentro de la modal */
.modal-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


/* Ajusta el estilo para la imagen */
.image-garden img {
    /* Establece la altura máxima de la imagen al 100% de la altura de la ventana */
    max-width: 100%;
    max-height: 100vh;
    /* Ajusta automáticamente el ancho para mantener la proporción original */
    width: auto;
    /* Ajusta automáticamente la altura para mantener la proporción original */
    height: auto;

    /* redondea los bordes*/
    border-radius: 30px;

    /* Esto hace que la imagen quede por encima del fondo negro*/
    z-index: 2;
}